::selection {
    background-color: black;
    color: yellow;
}

/* body {
    background-image: url(imges/bg.png);
    background-size: cover;
    background-repeat: round;
    background-attachment: fixed;
    margin: 0px;
} */

.main-body {
    background-image: url(https://th.bing.com/th/id/OIG.9aWoYtdhcgZ5Y5Dbc6w1?pid=ImgGn);
    background-size: cover;
    background-repeat: round;
    background-attachment: fixed;
    margin: 0px;
}

/* navigation bar  */
header>.nav-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.559);
    width: 100%;
    position: sticky;
    top: 0px;
}

/* navigatio logo  */
header>.nav-bar>.title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

header>.nav-bar>.title>.logo {
    border: 5px solid yellow;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

header>.nav-bar>.title>.logo>img {
    width: 50px;
    height: 50px;
    border: 4px solid red;
    border-radius: 50%;
}

header>.nav-bar>.title>.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header>.nav-bar>.title>.description>label {
    width: 100%;
    height: 40%;
    color: white;
    overflow: hidden;
}

header>.nav-bar>.title>.description>label>p {
    margin: 0px;
    margin-left: 8px;
    font-size: 20px;
    text-transform: capitalize;
}

header>.nav-bar>.title>.description>label>.title::first-letter {
    content: "";
    color: red;
    font-size: 25px;
}

header>.nav-bar>.title>.description>label>.type {
    letter-spacing: 9px;
    font-family: 'Caveat', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Smooch', cursive;
}

/* navigation links  */
header>.nav-bar>.navigator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    padding-right: 10px;
}

header>.nav-bar>.navigator>a {
    width: calc(90%/6);
    text-align: center;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    white-space: nowrap;
    padding: 4px;
}

/* section intro */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    margin-left: 29vw;
    margin-right: 93vw;
    margin-top: 4vh;
}

.intro>.welcome>.wlcm {
    color: yellow;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    margin: 0;

}

.intro>.welcome>.wlcm::first-letter {
    color: white;
}

.intro>.welcome>.hook {
    font-size: 40px;
    color: white;
    white-space: nowrap;
}

.intro>.sign-in button {
    width: 90px;
    color: black;
    font-size: 20px;
    background-color: yellow;
    border-radius: 15%;
    box-shadow: 11px 12px 20px 0px black;
}

/* register form page 
#########################################################
#########################################################
#########################################################
#########################################################
 */
#register-body {
    background-image: url(https://th.bing.com/th/id/OIG.NfuR.GClmV3V4izgfqXy?pid=ImgGn);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


#register-body>form {
    width: 60%;
    height: auto;
    background-color: transparent;
    border: 3px solid red;
    transition-property: all;
    transition-duration: 3s;
    transition-delay: 0.2s;
    transition-timing-function: ease-out;
    position: relative;
    z-index: 2;
}

#register-body>header {
    width: 100%;
}

#register-body>form:hover {
    background-color: rgba(0, 0, 0, 0.742);
}

#register-body>form>label {
    position: absolute;
    right: 14%;
    top: 18%;
    display: flex;
    flex-direction: column;
    z-index: -1;
}

#register-body>form>label>p {
    margin: 0;
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

#register-body>form>label>.name::first-letter {
    color: red;
    font-size: 70px;
}

#register-body>form>.user,
.mail,
.seats,
.time,
.date {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    width: 90%;
    align-items: start;
}

#register-body>form>.user>label,
.mail>label,
.seats>label,
.date>label,
.time>label {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 9px 0;
    background-color: yellow;
    font-size: 20px;
    width: 50%;
    text-align: center;
    border-color: black;
    border-width: 4px;
    border-style: ridge;
    height: 40px;

}

#register-body>form>.user>input,
.mail>input,
.seats>input,
.date>input,
.time>input {
    width: 50%;
    border-style: ridge;
    border-width: 4px;
    height: 40px;
}

#register-body>form>.seats {
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#register-body>form>.seats>input {
    max-width: 10%;
    font-size: 20px;
}

#register-body>form>.seats>label {
    max-width: 20%;
}

#register-body>form>.date,
.time {
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

#register-body>form>.place {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3px;
}

#register-body>form>.place>input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #d7aa15;
    outline: none;
    margin-right: 5px;
}

#register-body>form>.place>input:checked {
    background-color: black;
    border: 4px solid yellow;
}

#register-body>form>.place>label {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: yellow;
    border: 4px solid black;
    width: 90%;
    height: 20px;
    color: red;
    font-size: 20px;
    border-radius: 0;

}

#register-body>form>.submit {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#register-body>form>.submit>input {
    background-color: yellow;
    font-size: 20px;
    font-weight: bold;
}

/* chefs page 
#########################################################
#########################################################
#########################################################
#########################################################
*/
.chefs-body {
    background-image: url(https://th.bing.com/th/id/OIG.XQ2ZhhMpRP7bKt.BkfVk?pid=ImgGn);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.chefs-body>table {
    position: relative;
    border: 4px solid #d5c086;
    background-color: #cdc6b894;
    border-spacing: 0px;
    width: 100%;
    height: auto;
    margin: 25% 0;
}

.chefs-body>table td {
    border: 2px solid #97652ca6;
}

.chefs-body>table>thead>tr>td {
    text-align: center;
    font-size: 40px;
    color: brown;
}

.chefs-body>table>tbody>tr>.description {
    height: 150px;
    padding-left: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.7;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0.5;
    transition-timing-function: ease;

}

.chefs-body>table>tbody>tr>.description:hover {
    height: 250px;
    font-size: 23px;
}

.chefs-body>table>tbody>tr>.name {
    width: 20%;
    box-shadow: 0px -20px 20px 15px #b7b6ae inset;
    position: relative;
}

.chefs-body>table>tbody>tr>.name>p {
    margin-top: 145px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 20px;
    color: brown;
    font-weight: bold;
    background-color: #b7b6ae9f;
}

.chefs-body>table>tbody>tr>.first {
    background-image: url(https://th.bing.com/th/id/OIG.Bb9LGMgIeUi7WIXtCyBu?pid=ImgGn);
    background-size: cover;
    background-repeat: round;
}

.chefs-body>table>tbody>tr>.second {
    background-image: url(https://th.bing.com/th/id/OIG.36cKmRHCEuDVHlTM6Bm7?pid=ImgGn);
    background-size: cover;
    background-repeat: round;
}

.chefs-body>table>tbody>tr>.third {
    background-image: url(https://th.bing.com/th/id/OIG.qFdNvSpLVyquabVHNmqG?pid=ImgGn);
    background-size: cover;
    background-repeat: round;
}

/* menu page 
#########################################################
#########################################################
#########################################################
#########################################################
 */
.menu-body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(121, 9, 30);
    background: linear-gradient(90deg, rgba(121, 9, 30, 1) 0%, rgba(2, 0, 36, 0.9943627109046743) 43%, rgba(52, 100, 44, 1) 99%, rgba(239, 240, 240, 1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.pointer>a>img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.menu-body>.menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    height: 50vh;
    margin-top: 25%;
    margin-left: auto;
    margin-right: auto;

}

.menu-body>.menu>.dish {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12%;
    width: calc(76vw/3);
    height: auto;
    background: rgb(240, 249, 238);
    background: linear-gradient(0deg, rgba(240, 249, 238, 1) 7%, rgba(147, 157, 165, 1) 86%, rgba(188, 181, 187, 1) 100%);
    margin-bottom: 100px;
    transition-property: all;
    transition-duration: 2s;
    transition-delay: 0.2;
    transition-timing-function: ease;
}

.menu-body>.menu>.dish:hover {
    box-shadow: 2px -20px 15px 7px rgba(255, 0, 0, 0.562) inset;
    color: green;
}

.menu-body>.menu>.dish>.img>img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: -97px;
}

.menu-body>.menu>.dish>.img {
    position: relative;
}

.menu-body>.menu>.dish>.img::after {
    content: "";
    width: 0px;
    border: 34px solid red;
    border-color: transparent red transparent transparent;
    position: absolute;
    top: -18px;
    right: -41px;
    border-radius: 95%;
}

.menu-body>.menu>.dish>.discripe>p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.menu-body>.menu>.dish>.discripe>.price::after {
    content: "$";
    color: gold;
    font-size: 25px;
    padding-left: 8px;
}

.menu-body>.menu>.dish>.discripe>.food {
    color: red;
    font-size: 30px;
    font-family: 'Caveat', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Smooch', cursive;
    text-transform: capitalize;
    letter-spacing: 4px;
    margin: 33px 0 0 0;
}

/* recipes page 
#########################################################
#########################################################
#########################################################
#########################################################
*/
.recipes-body {
    background: rgb(121, 9, 30);
    background: linear-gradient(90deg, rgba(121, 9, 30, 1) 0%, rgba(2, 0, 36, 0.9943627109046743) 43%, rgba(52, 100, 44, 1) 99%, rgba(239, 240, 240, 1) 100%);
}

header {
    color: yellow;
    background-color: rgba(2, 0, 36, 0.177);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.recipes-body>.all-recp {
    background-color: rgba(102, 51, 153, 0.216);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.recipes-body>.all-recp>.recipe {
    width: 90%;
    margin-bottom: 4px;
    padding-left: 8px;
    padding-top: 100px;
    border-radius: 3%;
    position: relative;
    counter-increment: mycounter;
}

.recipes-body>.all-recp>.recipe>.img>img {
    width: 548px;
    position: absolute;
    top: 9px;
    height: 302px;
    right: 82px;
    z-index: 1;
}

.recipes-body>.all-recp>.recipe>.description {
    background-color: #ff000014;
    margin-top: 220px;
    width: 100%;
}

.recipes-body>.all-recp>.recipe>.description::before {
    content: counter(mycounter);
    background-color: #d38c3ca6;
    font-size: 60px;
}

.recipes-body>.all-recp>.recipe>.description>pre {
    color: white;
    font-size: 16px;
    overflow: auto;
}